<ion-item button detail="false" (click)="open()">
  <ion-label position="stacked">{{ label }}</ion-label>
  <ion-input [value]="value" readonly placeholder="YYYY-MM-DD"></ion-input>
  <ion-icon slot="end" name="calendar-outline"></ion-icon>
</ion-item>

<ion-modal [isOpen]="isOpen" (didDismiss)="close()">
  <ng-template>
    <ion-header translucent="true">
      <ion-toolbar>
        <ion-title>{{ label }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close()">{{ i18n.t('cancel') }}</ion-button>
          <ion-button (click)="confirm()">{{ i18n.t('save') }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-datetime
        presentation="date"
        [locale]="locale"
        [value]="calendarValue"
        (ionChange)="onCalendarChange($event)"
      ></ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
