<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ i18n.t('assign_driver_title') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (authService.hasRole('OWNER', 'MANAGER', 'DISPATCHER')) {
    <div class="page-shell">
      <ion-item>
        <ion-label position="stacked">{{ i18n.t('entity_vehicle') }}</ion-label>
        <ion-select [(ngModel)]="selectedVehicleId">
          @for (vehicle of vehicles; track $index) {
            <ion-select-option [value]="vehicle.id">
              {{ vehicle.make }} {{ vehicle.model }} ({{ vehicle.plateNumber }})
            </ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{ i18n.t('entity_driver') }}</ion-label>
        <ion-select [(ngModel)]="selectedDriverId">
          @for (driver of drivers; track $index) {
            <ion-select-option [value]="driver.id">{{ driver.name }}</ion-select-option>
          }
        </ion-select>
      </ion-item>

      @if (error) {
        <ion-text color="danger">
          <p>{{ error }}</p>
        </ion-text>
      }

      <ion-button expand="block" (click)="assign()" [disabled]="saving">
        {{ saving ? i18n.t('saving') : i18n.t('assign_driver') }}
      </ion-button>
    </div>
  }
</ion-content>
